.clock{
  box-shadow: 2px 4px 4px black;
}

.timeSet{
  font-size: 20px;
}
.homeCard{
  margin-left: -2px;
  margin-right: -2px;
  height: 20rem;
  background-color: #85CDCA !important;
}

.navColor{
  background-color: #233C67;
}